@font-face {
  font-family: "Eina03-Bold";
  src: url("../assets/fonts/eina03-bold/Eina03-Bold.eot")
      format("embedded-opentype"),
    url("../assets/fonts/eina03-bold/Eina03-Bold.woff") format("woff"),
    url("../assets/fonts/eina03-bold/Eina03-Bold.ttf") format("truetype"),
    url("../assets/fonts/eina03-bold/Eina03-Bold.svg#Eina03-Bold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Eina03-Light";
  src: url("../assets/fonts/eina03-light/Eina03-Light.eot")
      format("embedded-opentype"),
    url("../assets/fonts/eina03-light/Eina03-Light.woff") format("woff"),
    url("../assets/fonts/eina03-light/Eina03-Light.ttf") format("truetype"),
    url("../assets/fonts/eina03-light/Eina03-Light.svg#Eina03-Light")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Eina03-Regular";
  src: url("../assets/fonts/eina03-regular/Eina03-Regular.eot")
      format("embedded-opentype"),
    url("../assets/fonts/eina03-regular/Eina03-Regular.woff") format("woff"),
    url("../assets/fonts/eina03-regular/Eina03-Regular.ttf")
      format("truetype"),
    url("../assets/fonts/eina03-regular/Eina03-Regular.svg#Eina03-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Eina03-SemiBold";
  src: url("../assets/fonts/eina03-semibold/Eina03-SemiBold.eot")
      format("embedded-opentype"),
    url("../assets/fonts/eina03-semibold/Eina03-SemiBold.woff")
      format("woff"),
    url("../assets/fonts/eina03-semibold/Eina03-SemiBold.ttf")
      format("truetype"),
    url("../assets/fonts/eina03-semibold/Eina03-SemiBold.svg#Eina03-SemiBold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Eina02-SemiBold";
  src: url("../assets/fonts/eina02-semiBold/Eina02-SemiBold.eot")
      format("embedded-opentype"),
    url("../assets/fonts/eina02-semiBold/Eina02-SemiBold.woff")
      format("woff"),
    url("../assets/fonts/eina02-semiBold/Eina02-SemiBold.ttf")
      format("truetype"),
    url("../assets/fonts/eina02-semiBold/Eina02-SemiBold.svg#Eina02-SemiBold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Pragati+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

