

/** Break Points Responsive**/
$break-point-small-mobile: 576px;
$break-point-mobile: 800px;
$break-point-tablet: 1025px;
$break-point-fullscreen: 1441px;
$break-point-big-screen: 1800px;
$break-point-web: 1200px;


// colors

$button-primary-color: #FF5C64;
$background-primary: #00027A;
$background-secondary: #fefefe;
$white: #ffffff;
$gray: #BDBDBD;
$color-Tertiary: #00B4D8;
$Main-Color: #001A4B;
$background-footer: #001A4B;
